* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightseagreen;
    color: beige;
    text-align: center;
    align-items: center;
    padding-top: 18px;

}
section{
    width: 450px;
    height: 260px;
    background-color: azure;
    color: mediumblue;
    border-radius: 3px 5px;
    box-shadow: 4px 2px 7px rgb(31, 136, 82);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

