@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --preto: rgb(20, 21, 20);
    --branco: rgb(233, 242, 247);
    --verde: rgb(17, 102, 47);
}
/* Header */
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 0 10px var(--preto);
}
.logo-menu{
    display: flex;
}
.logo-menu > img {
    height: 60px;
}
.menu{
    display: flex;
    align-items: center;
    height: 100%;
}
.menu li {
    padding: 10px;
}
.botoes-menu{
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
}  
a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 600;
}
.botao-branco{
    border: 2px solid var(--preto);
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}
.botao-preto{
    background-color: var(--preto);
    color: var(--branco);
    border-radius: 15px;
    padding: 5px;
}
.branco{
    width: 350px;
    height: 400px;
    background-color: aliceblue;
}






footer {
    background: var(--Header-Footer_bg);
    box-shadow: var(--Header-Footer_shadow);

    height: fit-content;

    border-top: 1px solid var(--footer_border_color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer ul {
    list-style-type: none;
}

footer ul.flex {
    display: flex;
}

footer ul.flex li {
    margin-left: 20px;
}

footer ul li {
    font-size: 14px;
    margin-top: 10px;
}

footer .infos {
    height: fit-content;
    width: 100%;

    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;

}

footer .icons {
    display: flex;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;
}

footer .icons li {
    margin-left: 20px;
}

footer .politicas {
    margin-bottom: 20px;
}

footer .o {
    font-size: 10px;
}